#navigation1 {
	
	/*background-color: black;*/
	/*background-position: center;*/
	/*color: blue;*/
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	/*padding: 10px;*/
	word-spacing: 30px;
	/*margin: 0.15in;*/


}

#profile1 {

	background-color: yellow;
	background-position: center;

	margin: 0.45in;
}